PyYAML==3.12
click==6.7
clickclick==1.2.1
pbr==3.0.0
progressbar2==3.20.0
py==1.4.33
pytest==3.0.7
python-utils==2.1.0
pyvmomi==6.5
requests==2.14.2
six==1.10.0
asn1crypto==0.22.0
cffi==1.10.0
idna==2.5
paramiko==2.1.2
pyasn1==0.2.3